* {
    margin: 0px;
    padding: 0px;
}
header{
    height: 90px;
    background-color: #042e42;
}
header ul {
    /* list-style: none; */
    display: flex;
    justify-content: flex-end;
    padding: 30px 20px;

}
header ul li{
    list-style: none;
    padding: 5px 20px;
    font-size: 20px;  
    
}
header ul li a{
    text-decoration: none;
    padding: 8px 10px;
    border-bottom: 1px solid rgb(13, 146, 163);
    border-top: 1px solid rgb(13, 146, 163);
    border-radius: 15px;
    color: white;
}
header ul li a:hover{
    background-color:rgb(78, 182, 196) ;
    box-shadow: 0 0 10px rgb(4, 116, 131),
                0 0 10px rgb(4, 116, 131),
                0 0 10px rgb(4, 116, 131),
                0 0 10px rgb(4, 116, 131);
    /* color: white; */
    color: black;
    
}
.container1{
    height: 1000px;
    width: 100%;
}
span{
    font-weight: 1000;
}
marquee{
    color: brown;
}
.left{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 16px;
    height: 960px;
    display: inline-block;
    background-color:hsl(0, 10%, 94%);
    
}
.left1{
    padding: 20px 30px;
    height: 900px;
    background-color:hsl(0, 10%, 94%);

}

.right{
    width: 27%;
    float: right;
    height: 920px;
    background-color:hsl(0, 10%, 94%);
    padding-top:40px;
    padding-bottom:40px ;
    text-align: center;
    border-left: 1px dotted black;
}
.right ul li {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px dotted black;
    list-style: none;
}
.right ul li a{
    text-decoration: none;
    color: black;

}
.right ul li a:hover{
    font-weight: bolder;
    color: #042e42;
}
.right1{
    /* background-color: crimson; */
    height: 900px;
    padding-top: 20px;
}
footer{
    height: 50px;
    background-color: #042e42;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
    
}
footer ul li {
    list-style: none;
    text-align: center;
    padding: 5px ;
}

